.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
h1 {
  font-size: 5rem;
  color: white;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: red; */
  height: 20vh;
  width: 80%;
}
.btn {
  width: 100%;
  padding: 50px;
  background: none;
  border: 4px solid green;
  height: 100%;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  transition: 300ms;
}

.btn:hover {
  cursor: pointer;
  background: green;
  border: 4px solid black;
  color: white !important;
}
