.list-container {
  height: 100vh;
  /* background-color: red; */
  padding-bottom: 100px;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
p {
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
  color: green;
  /* border-bottom: 5px solid green; */
}
a {
  text-decoration: none;
}
.list {
  /* background-color: green; */
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* word-wrap: break-word; */
}

.card {
  border: 3px solid green;
  width: 30%;
  margin: 2vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

.task {
  width: 90%;
  min-height: 70px;
  /* background-color: pink; */
  /* padding: 2%; */
  /* word-wrap: break-word; */
  margin-top: 2%;
  color: white;
  /* border-bottom: 1px solid green; */
}

.dlt-btn {
  width: auto;
  height: 40px;
  background-color: black;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dlt-btn button {
  width: auto;
  height: 100%;
  border-radius: 10px;
  border: none;
  transition: 200ms;
  background-color: black;
  color: green;
}

.dlt-btn button:hover {
  cursor: pointer;
  /* background-color: green; */
  color: red;
}
